        <!-- Initiate tablesorter script -->
        <script type="text/javascript">
            $(document).ready(function() { 
                $("#myTable") 
                .tablesorter({
                    // zebra coloring
                    widgets: ['zebra'],
                    // pass the headers argument and assing a object 
                    headers: { 
                        // assign the sixth column (we start counting zero) 
                        6: { 
                            // disable it by setting the property sorter to false 
                            sorter: false 
                        } 
                    }
                });
            //.tablesorterPager({container: $("#pager")}); 
        }); 
        </script>

<div class="grid_12">

    <div class="bottom-spacing">

        <!-- Button -->
        <div class="float-left">
            <a href="<%= new_marketing_channel_info_path %>" class="button">
              <span>添加渠道人员<img src="<%= Mycrm::Application.config.staticfile_server_url %>admin_style/images/plus-small.gif" width="12" height="9" alt="New article" /></span>
            </a>
        </div>

    </div>

    <div class="module">
        <h2><span>角色管理</span></h2>

        <div class="module-table-body">

            <table id="myTable" class="tablesorter">
              <thead>
                    <tr>
                        <th style="width:5%">ID</th>
                        <th style="width:15%">名称</th>
                        <th style="width:15%">所属类别</th>
                        <th style="width:13%">创建日期</th>
                        <th style="width:13%">最后更新</th>
                        <th style="width:15%"></th>
                    </tr>
                </thead>

                <tbody>
                    <% @channel_infos.each do |channel_info| %>
                    <tr>
                        <td class="align-center"><%= channel_info.id %></td>
                        <td><%= link_to channel_info.name, [:marketing, channel_info] %></td>
                        <td><%= channel_info.channel_category.category_name %></td>
                        <td><%= channel_info.created_at.strftime('%Y-%m-%d %H:%M') %></td>
                        <td><%= channel_info.updated_at.strftime('%Y-%m-%d %H:%M') %></td>
                        <td>
                          <%= link_to "编辑", edit_marketing_channel_info_path(channel_info) %> |
                          <%= link_to "删除", marketing_channel_info_path(channel_info), :method => :delete, :confirm => "你确定要删除此渠道?" %>
                        </td>
                    </tr> 
                    <% end %>                             
                </tbody>
            </table>
            
            <div style="clear: both"></div>
        </div> <!-- End .module-table-body -->
    </div> <!-- End .module -->

</div> <!-- End .grid_12 -->
<div style="clear: both"></div>
<div class="apple_pagination">
    <%=h will_paginate @channel_infos, :previous_label => '上一页',  :next_label => '下一页'%>
</div>
