<div class="grid_12">
	<div class="bottom-spacing">
    
        
        <div class="float-left">
            <a href="<%= marketing_channel_infos_path %>" class="button">
              <span>返回</span>
            </a>
        </div>
        
    </div>
</div>

<div class="grid_5">

    <div class="module">
     <h2><span>渠道</span></h2>
        
     <div class="module-body">
      <p>
				<div>渠道专员:<%= @channel_info.user.username %></div>
			</p>
			<p>
				<div>渠道类别:<%= @channel_info.channel_category.category_name %></div>
			</p>
      <p>
        <div>渠道名称:<%= @channel_info.name %></div>
      </p>
			<p>
				<div>标签:
              <% @channel_info.marketing_list.each do |info_tag| %>
              <%= info_tag %>
              <% end %>
        </div>
			</p>
            
         </div> <!-- End .module-body -->
    </div> <!-- End .module -->
    <div style="clear:both;"></div>
</div> <!-- End .grid_6 -->
<div style="clear:both;"></div>

