<div class="grid_5">
  <div class="module">
  <h2><span>院校信息</span></h2>

    <div class="module-body">
        <%= form_for([:client, @apply_colleage]) do |f| %>
          <p>
            <label>申请院校名称</label>
            <%= f.text_field :colleage_name, :class => "input-medium validate[required,minSize[6],maxSize[30]]" %>
          </p>

          <p>
            <label>排名</label>
            <%= f.text_field :ranking, :class => "input-medium validate[required]" %>
          </p>

          <p>
            <label>要求分数</label>
            <%= f.text_field :score, :class => "input-medium validate[required]" %>
          </p>

          <p>
            <label>描述</label>
            <%= f.text_area :description %>
          </p>

          <fieldset>
              <input class="submit-green" type="submit" value="Submit" /> 
              <input class="submit-gray" type="reset" value="Cancel" />
          </fieldset>

          <% end %>
        </div>
        </div> <!-- End .module-body -->
    </div> <!-- End .module -->
  <div style="clear:both;"></div>
</div> <!-- End .grid_6 -->
<div style="clear:both;"></div>

  