<div class="grid_12">
    <div class="bottom-spacing">
        <a href="<%= client_apply_colleages_path %>" class="button">
          <span>返回</span>
        </a>
    </div>
</div>
<div class="grid_5">

    <div class="module">
         <h2><span>渠道</span></h2>
            
         <div class="module-body">
            <p>
				<div>类型名称:<%= @apply_colleage.description %></div>
			</p>
			<p>
				<div>描述:<%= @apply_colleage.description %></div>
			</p>
            <p>
                <div>排名:<%= @apply_colleage.ranking %></div>
            </p>
            <p>
                <div>分数:<%= @apply_colleage.score %></div>
            </p>
         </div> <!-- End .module-body -->
    </div> <!-- End .module -->
    <div style="clear:both;"></div>
</div> <!-- End .grid_6 -->
<div style="clear:both;"></div>

