        <!-- Initiate tablesorter script -->
        <script type="text/javascript">
            $(document).ready(function() { 
                $("#myTable") 
                .tablesorter({
                    // zebra coloring
                    widgets: ['zebra'],
                    // pass the headers argument and assing a object 
                    headers: { 
                        // assign the sixth column (we start counting zero) 
                        6: { 
                            // disable it by setting the property sorter to false 
                            sorter: false 
                        } 
                    }
                });
                $( "#datepicker_1" ).datepicker();
                $( "#datepicker_1" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
                $( "#datepicker_1" ).val("<%= @time%>");
        }); 
        </script>
        <style>
            .LinkUl { float:left; padding: 2px; margin: 2px;}
            li{padding: 2px; margin: 2px;}
        </style>
        <div class="grid_12">
            <div class="module">
                <div class="bottom-spacing">
                <%= form_tag(callcenter_index_client_infos_path, :method => :get) do %>
                        <p>
                            <div >
                                <ul id="ul1" class="LinkUl">
                                    <li>客户名称: <input type="text" name="info_name" value="<%= @info_name %>"></li>
                                </ul>

                                <ul id="ul1" class="LinkUl">
                                    <li>有效性: <%= select_tag("is_validate", options_for_select( [['有效', 1],['无效', 0]]), {:prompt => '请选择' }) %></li>
                                </ul>

                                <ul id="ul4" class="LinkUl">
                                    <li>客户来源: <%= select_tag("source", options_for_select( [['呼入量', 1],['呼出量', 2], ['乐语量', 3]] ), {:prompt => '请选择' }) %></li>
                                </ul>
                                <ul class="LinkUl">
                                    <li>
                                        时间:<input type="text" id="datepicker_1" name="time" />
                                    </li>
                                </ul>
                                <ul id="ul3" class="LinkUl">
                                    <li><%= submit_tag("提交查询") %></li>
                                </ul>
                            </div>    
                        </p>
                <% end %>
                </div>
            </div>
        </div>

<div class="grid_12">
    <div class="bottom-spacing">
        <!-- Button -->
        <div class="float-left">
            <% if !current_user.roles.include?(Role.find(8)) %>
            <a href="<%= callcenter_add_info_client_infos_path %>" class="button">
              <span>新建客户<img src="<%= Mycrm::Application.config.staticfile_server_url %>admin_style/images/plus-small.gif" width="12" height="9" alt="New info" /></span>
            </a>
            <% end %>
        </div>
        <div class="float-left">
            <span>呼出<%= @info_count1%>人</span> |
            <span>呼入<%= @info_count2%>人</span> |
            <span>乐语<%= @info_count3%>人</span> |
            <span>共<%= @info_count_all%>人</span>   ||   
            <span>有效信息<%= @info_count_validate%>条</span>｜
            <span>有效率为<%= @info_validate_rate %>％</span>
        </div>
    </div>

    <div class="module">
        <h2><span>客户信息管理</span></h2>

        <div class="module-table-body">

            <table id="myTable" class="tablesorter">
              <thead>
                    <tr>
                        <th style="width:5%">ID</th>
                        <th style="width:10%">客户名称</th>
                        <th style="width:10%">客户电话</th>
                        <th style="width:5%">签约</th>
                        <th style="width:12%">签约时间</th>
                        <th style="width:5%">有效性</th>
                        <th style="width:5%">来源</th>
                        <th style="width:12%">预约时间</th>
                        <th style="width:12%">到访时间</th>
                        <th style="width:10%; text-align:center;">操作</th>
                    </tr>
                </thead>

                <tbody>
                    <% @infos.each do |info| %>
                    <tr>
                        <td class="align-center"><%= info.id %></td>
                        <td><%= info.name %></td>
                        <td><%= info.cellphone %></td>
                
                        <td><%= info.is_signed==1 ? "已签约" : "未签约" %></td>
                        <td>
                            <% if info.signed_time %>
                                <%= info.signed_time.strftime('%Y-%m-%d %H:%M') %>
                            <% end %>
                        </td>
                        <td>
                            <% if info.is_validate == 0%>
                                无效
                            <% elsif info.is_validate == 1%>
                                有效
                            <% else%>
                                其它
                            <% end %>
                        </td>
                        <td>
                            <% if info.source == 1%>
                                呼入
                            <% elsif info.source == 2%>
                                呼出
                            <% elsif info.source == 3%>
                                乐语
                            <% else%>
                                其它
                            <% end %>
                        </td>
                        <% if info.invations.where("role_id in (5,7)").size == 1%>
                        <% info.invations.where("role_id in (5,7)").each do |fo| %>
                        <td>
                            <% if fo.invit_time %>
                            <div title="<%= User.find(fo.user_id).username%>"><%= fo.invit_time.strftime('%Y-%m-%d %H:%M')%></div>
                            <% end %>
                        </td>
                        <td>
                            <% if fo.confirm_user_id%>
                            <div title="<%= User.find(fo.confirm_user_id).username%>"><%= fo.come_time.strftime('%Y-%m-%d %H:%M')%></div>
                            <% end %>
                        </td>
                        <% end %>
                        <% else%>
                            <td></td>
                            <td></td>
                        <% end %>
                        <td>
                          <%= link_to "备注", client_info_info_notes_path(info) %> ｜
                          <%= link_to "预约", client_info_invations_path(info) %> 
                    </tr> 
                    <% end %>                             
                </tbody>
            </table>
            
            <div style="clear: both"></div>
        </div> <!-- End .module-table-body -->
    </div> <!-- End .module -->
    <div class="apple_pagination">
        <%=h will_paginate @infos, :previous_label => '上一页',  :next_label => '下一页'%>
    </div>
</div> <!-- End .grid_12 -->
<div style="clear: both"></div>
